CLIENT_ID=sd-api
CLIENT_SECRET=sd-api-secret
OIDC_USERNAME=seldon
OIDC_PASSWORD=12341234
OIDC_AUTH_METHOD=client_credentials
OIDC_SCOPES=openid profile email groups

OIDC_PROVIDER=https://x.x.x.x/auth/realms/deploy-realm
DEPLOY_API_HOST=https://x.x.x.x/seldon-deploy/api/v1alpha1
VERIFY_SSL=false

ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_PROTOCOL=http
ELASTICSEARCH_USER=
ELASTICSEARCH_PASS=
ELASTICSEARCH_TOKEN=
